<h1>質問 <%= @current_question.id %></h1>
<p><%= @current_question.question %></p>

<div class="py-5">
  <%= form_with url: answer_question_path(@current_question), method: :post do %>
    <div class="container">
      <div class="row">
        <% @current_question.items.each do |item| %>
        <div class="col-md-5">
          <div class="card mb-5">
            <% if item.image.attached? %>
              <%= image_tag url_for(item.image), class: 'card-img-top', alt: item.answer %>
            <% else %>
              <p>No Image Available</p>
            <% end %>
            <div class="card-body">
              <p class="card-text"><%= item.answer %></p>
              <%= radio_button_tag :choice, item.id %>
              <%= label_tag "choice_#{item.id}", "選択" %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <%= submit_tag "回答する" %>
  <% end %>
</div>