<h1>Question: <%= @question.subject %></h1>
<p><strong>Question Type:</strong> <%= @question.question_type %></p>
<p><strong>Question:</strong> <%= @question.question %></p>

<h2>Items</h2>
<div class="py-5">
  <%= form_with url: answer_question_path(@question), method: :post do %>
    <div class="container">
      <div class="row">
        <% @question.items.each do |item| %>
        <div class="col-md-5">
          <div class="card mb-5">
            <div class="card-body">
              <%= radio_button_tag :choice, item.id %>
              <label for="choice_#{item.id}">
            <% if item.image.attached? %>
              <%= image_tag url_for(item.image), class: 'card-img-top', alt: item.answer %>
            <% else %>
              <p>No Image Available</p>
            <% end %>
              </label>
              <p class="card-text"><%= item.answer %></p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <%= submit_tag "回答する" , class: "btn btn-lg btn-primary"%>
  <% end %>
</div>