<h1>Question: <%= @question.subject %></h1>
<p><strong>Question Type:</strong> <%= @question.question_type %></p>
<p><strong>Question:</strong> <%= @question.question %></p>

<h2>Items</h2>
<div class="py-5">
  <div class="container">
    <div class="row">
      <% @items.each do |item| %>
      <div class="col-md-5"">
        <div class="card mb-5">
          <% if item.image.attached? %>
            <%= image_tag url_for(item.image), class: 'card-img-top', alt: item.answer %>
          <% else %>
            <p>No Image Available</p>
          <% end %>
          <div class="card-body"">
            <p class="card-text"><%= item.answer %></p>
            <p class="card-text"><%= item.correct ? 'Yes' : 'No' %></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>